<%= render partial: "users/user", object: add %>
<p>
  <strong>Type: </strong>
  <%= add.type %>
</p>

<%= link_to add_user_project_path(@project, user: add), remote: true do %>
  <div><button>Add to Project</button></div>
<% end %>

