<%= render partial: "users/user", object: remove %>
<p>
  <strong>Type: </strong>
  <%= remove.type %>
</p>

<%= link_to remove_user_project_path(@project, user: remove), remote: true do %>
  <div><button>Remove from Project</button></div>
<% end %>

