<div class="container">
  <main class="form-general">
    <h1>Edit Bug</h1>

    <%= render 'form', bug: @bug, project: @project %>

    <%= link_to 'Back', project_path(@project) %>
  </main>
</div>
