<div class="container">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <p class="col-md-3 mb-0 text-muted">© 2022 Bugzilla, by Ziayan Javed</p>
  </footer>
</div>